In [ ]:
# Dummy cell 1: Random value 569

In [ ]:
# Dummy cell 2: Random value 150

In [ ]:
# Dummy cell 3: Random value 327

In [ ]:
# Dummy cell 4: Random value 497

In [ ]:
# Dummy cell 5: Random value 860

In [ ]:
# Dummy cell 6: Random value 762

In [ ]:
# Dummy cell 7: Random value 917

In [ ]:
# Dummy cell 8: Random value 735

In [ ]:
# Dummy cell 9: Random value 380

In [ ]:
# Dummy cell 10: Random value 921

In [ ]:
# Cell 1: Value 344

In [ ]:
# Cell 2: Value 153

In [ ]:
# Cell 3: Value 223

In [ ]:
# Cell 4: Value 994

In [ ]:
# Cell 5: Value 246

In [ ]:
# Cell 6: Value 953

In [ ]:
# Cell 7: Value 103

In [ ]:
# Cell 8: Value 594

In [ ]:
# Cell 9: Value 739

In [ ]:
# Cell 10: Value 195

In [ ]:
# Cell 1: Value 698

In [ ]:
# Cell 2: Value 401

In [ ]:
# Cell 3: Value 975

In [ ]:
# Cell 4: Value 215

In [ ]:
# Cell 5: Value 219

In [ ]:
# Cell 6: Value 952

In [ ]:
# Cell 7: Value 792

In [ ]:
# Cell 8: Value 287

In [ ]:
# Cell 9: Value 10

In [ ]:
# Cell 10: Value 455

In [ ]:
# Cell 11: Value 909

In [ ]:
# Cell 12: Value 429

In [ ]:
# Cell 13: Value 670

In [ ]:
# Cell 14: Value 124

In [ ]:
# Cell 15: Value 421

In [ ]:
# Cell 1: Value 666

In [ ]:
# Cell 2: Value 509

In [ ]:
# Cell 3: Value 142

In [ ]:
# Cell 4: Value 549

In [ ]:
# Cell 5: Value 975

In [ ]:
# Cell 6: Value 222

In [ ]:
# Cell 7: Value 55

In [ ]:
# Cell 8: Value 852

In [ ]:
# Cell 9: Value 714

In [ ]:
# Cell 10: Value 555

In [ ]:
# Cell 11: Value 833

In [ ]:
# Cell 12: Value 335

In [ ]:
# Cell 13: Value 672

In [ ]:
# Cell 14: Value 779

In [ ]:
# Cell 15: Value 141

In [ ]:
# Cell 1: Value 905

In [ ]:
# Cell 2: Value 348

In [ ]:
# Cell 3: Value 61

In [ ]:
# Cell 4: Value 152

In [ ]:
# Cell 5: Value 308